* {
    /* border: 0.5px dotted green; */
}

/* View User */
body {
    background-image: url("/img/bg-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.user-input-container {
    overflow-y: auto;
}

#form-wrapper {
    overflow-y: auto;

}

.user-input-container {
    display: grid;
}
